h1 {
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}