h1 {
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    background-color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:chocolate;
    
}

* {
    background-color: blueviolet;
}
